---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BinPackParameters: false
BraceWrapping:
  AfterStruct: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
# Align variable assignments (e.g. var = value;)
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true

# Align struct and enum member declarations
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true

# Align struct initialization values in array/table format
AlignArrayOfStructures: Left
