---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Align variable assignments (e.g. var = value;)
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true

# Align struct and enum member declarations
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true

# Align struct initialization values in array/table format
AlignArrayOfStructures: Left
