# Build Artifacts
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile
compile_flags.txt

# IDE/Editor cache
.cache/
.clangd

# Binaries
*.bin
*.elf
*.o
*.a
*.so

# Disk and ISO images
*.img
*.iso

# Logs
*.log

# Temporary Files
s_blocks_count
*.swp
*.swo
*~
*.bmp

# OS Specific
.DS_Store
Thumbs.db

vbe3.pdf
