[submodule "src/external/lwext4"]
	path = src/external/lwext4
	url = https://github.com/gkostka/lwext4.git

[submodule "src/external/dr_libs"]
	path = src/external/dr_libs
	url = https://github.com/mackron/dr_libs.git

[submodule "src/external/gnu-efi"]
	path = src/external/gnu-efi
	url = https://github.com/rhboot/gnu-efi.git

[submodule "src/external/posix-uefi"]
	path = src/external/posix-uefi
	url = https://gitlab.com/bztsrc/posix-uefi.git
